@page "/"

<PageTitle>Index</PageTitle>

<h2 class="fw-bold">Change color car</h2>

<div class="row">
    <div class="col-lg-4">
    @if (!string.IsNullOrEmpty(carColor))
    {
        <img src="/products/@carColor-car.jpg" alt="Car color" style="width: 300px; height: auto;" />
    }
    else
    {
        <img src="/products/steel-car.jpg" alt="Car color" style="width: 300px; height: auto;" />
    }
</div>

<div class="col-lg-8">
    @foreach(var color in carColors)
{
    <button class="btn btn-@color.ToLower()" @onclick="() => ChangeCarColor(color)">@color color</button>
}
</div>
</div>


@code {
    private string carColor = ""; 
    private string[] carColors = { "Black", "Red", "Silver" }; 

    private void ChangeCarColor(string color)
    {
        carColor = color.ToLower();  
    }
}
